
.muuri-board {
    /*position: relative;*/
}

.muuri-board-column {
    width: calc(100% / 3);
}

.muuri-board-column.muuri-item-releasing {
    z-index: 2;
}

.muuri-board-column.muuri-item-dragging {
    z-index: 3;
    cursor: move;
}

.muuri-board-column-content-wrapper {
    height: calc(100vh - 290px);
}

.muuri-board-item {
    width: calc(100% - 16px);
}

.muuri-board-item.muuri-item-releasing {
    z-index: 9998;
}

.muuri-board-item.muuri-item-dragging {
    z-index: 9999;
    cursor: move;
}

.muuri-board-item.muuri-item-hidden {
    z-index: 0;
}
