
<div class="mt-5 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>

    </div>

</div>