<li title="@CardModel.Description">
    <p class="description">@CardModel.Description</p>
    <p class="last-updated"><small>Last Updated</small> @CardModel.LastUpdated.ToString("HH:mm.ss tt")</p>
    <p><button @onclick="OnStart">start</button><button @onclick="OnComplete">complete</button></p>
</li>