
<div class="muuri-board-item absolute">
    <div class="muuri-board-item-content">
        <div class="mb-4 bg-white overflow-hidden shadow rounded-lg">
            <div class="px-4 py-5 sm:p-4">
                <div class="card-handle">
                    @CardModel.Description
                </div>
            </div>
        </div>
    </div>
</div>
