<div class="muuri-board-column absolute" data-id="QWERTY">
    <div class="muuri-board-column-header"></div>
    <div class="muuri-board-column-content-wrapper relative overflow-y-auto">
        <div class="muuri-board-column-content min-h-full">
            @ChildContent
        </div>
    </div>
</div>
