<div id="cardlayout_@Id" class="@CssClass" data-id="@Id">
    <div class="muuri-card-content">
        <div class="mb-4 bg-white overflow-hidden shadow rounded-lg">
            <div class="px-4 py-5 sm:p-4">
                @ChildContent
            </div>
        </div>
    </div>
</div>
