<!-- This example requires Tailwind CSS v2.0+ -->
<div class="" style="cursor: move;">
    <div class="flex space-x-3">

        @*<div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </div>*@
        <div class="min-w-0 flex-1 muuri-card-handle">
            <p>
                @DescriptionContent
            </p>
            @*<p class="text-sm text-gray-500">
                <a href="#" class="hover:underline">December 9 at 11:43 AM</a>
            </p>*@
        </div>
        <div class="min-w-0">
            @DropDownContent
        </div>
        
    </div>
</div>
